.revenueChart{
    display: flex;
    flex-direction: column;
    gap: 50px;
    .label{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
    }


}