.navbar {
    display: flex;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  .logo{
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    gap: 10px;
    justify-content: left;
    img{
      width: 40px;
      height: 40px;
      object-fit: cover; 
      border-radius: 50%; 
    }
  }
  .icons{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: right;
    .notifications{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      span{
        display: flex;
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        border-radius: 50%;
        color: white;
        width: 17px;
        height: 17px;
        align-items: center;
        justify-content: center;
      }
    }
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
     
    img {
      width: 26px;
      height: 26px;
      object-fit: cover;
      border-radius: 50%;
      align-items: center;
    }
  }
  }
  }

.notifications {
  position: relative;
  cursor: pointer;
}

.notificationDropdown {
  position: absolute;
  top: 20px;
  right: 0;
  width: 280px;
  background-color: #2a3447;
  border-radius: 10px;
  padding: 15px;
  z-index: 999;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.notificationDropdown h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.notificationItem {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: #384256;
}

.notificationItem.unread {
  background-color: #475be8;
}

.notificationItem strong {
  font-size: 14px;
  color: white;
}

.notificationItem p {
  font-size: 12px;
  color: #ddd;
  margin: 5px 0;
}

.notificationItem small {
  font-size: 11px;
  color: #bbb;
}


