.navbar {
    display: flex;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    

  .logo{
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    gap: 10px;
    justify-content: left;
    img{
      width: 40px;
      height: 40px;
      object-fit: cover; 
      border-radius: 50%; 
    }
  }

  .icons{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: right;
    .notifications{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      span{
        display: flex;
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        border-radius: 50%;
        color: white;
        width: 17px;
        height: 17px;
        align-items: center;
        justify-content: center;
      }
    }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
     
    img {
      width: 26px;
      height: 26px;
      object-fit: cover;
      border-radius: 50%;
      align-items: center;
    }
  }
  }
  }




