.profile{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .adminInfo{
        display: flex;
        flex-direction: column;
        border-right: 1px rgb(255, 255, 255) solid;
        padding: 0px 50px;
        .userInfo{
            display: flex;
            align-items: center;
            gap: 30px;
            img{
                width: 80px;
                height: 80px;
            }
            .userName{
                font-size: 50px;
                color: rgb(228, 255, 233);


            }
        }
        .info1{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            margin-top: 5px;
        }


    }

    .feed{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 60px;
        .header{
            color: antiquewhite;
            font-size: 80px;
            
        }
        .feedInfo{
            display: flex;
            gap: 30px;
        
        .feedInfo1{
            
        .feedProfile{
            display: flex;
            gap: 15px;
            align-items: center;
            .feedName{
                font-size: 20px;
            }
            img{
                width: 60px;
                height: 60px;
            }
            .feedNameTitle{
                display: flex;
                background-color: rgb(176, 176, 176);
                padding: 6px;
                padding-right: 20px;
                flex-direction: column;
                border-radius: 10px;
            }
        }

    }

          .editButton{
            width: 80px;
            height: 30px;
            border-radius: 5px;
            &:hover {
                background-color: rgb(230, 255, 232);
                cursor: pointer;
            }
        }

    }
    }



    .addButton{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
        .addButtonUser{
            width: 100px;
            height: 30px;
            cursor: pointer;
            &:hover{
                background-color: rgb(223, 231, 255);
            }
        }
          .addButtonProduct{
            width: 120px;
            height: 30px;
            cursor: pointer;
            &:hover{
                background-color: rgb(223, 231, 255);
            }
        }



    }



}