.single{
    display: flex;
    .leftInfo{
        flex: 1;
        display: flex;
        flex-direction: column;
        img{
            width: 70px;
            height: 70px;
        }
        .header {
            display: flex;
            gap: 30px;
            align-items: center;
            button{
                padding: 8px;
                &:hover{
                    background-color: aquamarine;
                    cursor: pointer;
                }
            }
        }

        .userInfo{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;

        }






    }








.rightInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;

  ul {
    li {
      list-style-type: none;
      border-left: 1px solid aqua;
      padding-left: 20px;
      padding-bottom: 30px;
      position: relative;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: aqua;
        position: absolute;
        left: -5px;
        top: 5px;
      }
    }
  }
}








}