.users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .userContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    .label {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .addButton {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
