.view {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    .modal {
        width: 700px;
        height: 600px;
        background-color: white;
        color: black;
        padding: 45px;
        border-radius: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .close{
            position:absolute;
            top: 2px;
            right: 10px;
        }
    }





}